<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="container shadow-lg my-auto">
    <div class="main-content" style="margin-left: 70px;">
        {{>header}}
        
         <div class="card" style="width:400px">
    <img class="card-img-top portrait" src="/img/me.jpg" alt="Satish Naikawadi" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Satish Naikawadi</h4>
      <p class="card-text">Hi , I am satish. I am first year engineering student currently(2019-20) persuing my B.TECH degree in Computer
          Engineering from Veermata Jijabai technological Institute,Mumbai.I have Created this web-app with help of some apis and my nodeJS knowledge.
      </p>
      
    </div>
  </div>

        {{>footer}}
    </div>
    
    
    </div>
</body>

</html>