<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
       
</head>

<body>
    <div class="container my-auto shadow-lg">
    <div class="main-content" style="margin-left: 150px;">
        {{>header}}
        <p style="margin-right: 100px;">{{helpText}}</p>
        {{>footer}}
    </div>
    
    
    </div>
    </div>
</body>

</html>