<header>
    <h1 class="shad4">{{title}}</h1>

    <a href="/" class="shad1" style="font-size: 30px;">Weather</a>
    <a href="/about" class="shad1" style="font-size: 30px;">About</a>
    <a href="/help" class="shad1" style="font-size: 30px;">Help</a>
</header>